{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class='d-flex justify-content-center my-5'>
  <div class='card' style='width: 25rem'>
    <div class='card-header'>
      <ul class="list-group list-group-light">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            {% if request.user.userprofile.img %}
            <img src="{{request.user.userprofile.img.url}}" alt="" style="width: 45px; height: 45px"
              class="rounded-circle" />
            {% else %}
            <span class='fas fa-user-circle' style='font-size: 2.5rem;'></span>
            {% endif %}
            <div class="ms-3">
              <p class="fw-bold mb-1">{{user.username}}</p>
              <p class="text-muted mb-0">{{user.email}}</p>
            </div>
          </div>
          <!-- <span class="badge rounded badge-success">active</span> -->
        </li>
      </ul>
    </div>
    <div class='card-body'>
      <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{form|crispy}}
        {{profile_form|crispy}}
        <button type='submit' class='btn btn-primary btn-block'>
          {{action}} <span class='fas fa-edit'></span>
        </button>
      </form>
    </div>
    {% if not request.user.is_superuser %}
    <div class='card-footer'>
      <form action='{% url "core:account-deletion" pk=user.pk %}' method='POST' onsubmit="return confirm('Are you sure you want to delete your account?. This action cannot be undone.');">
        {% csrf_token %}
        <button type='submit' class='btn btn-danger btn-block btn-md'>
          Delete Account Permanently
        </button>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}